{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}

    {{ dropzone.load() }}

{% endblock %}

{% block content %}

	<div id="contribute-container" class="container">
		<div class="row">
			<div class="col-12">
				<p id="contribute-title">Contribute</p>
				<hr width="100%" align="left" class="my-2">
				<p id="contribute-text">The form below allows you to upload your own analyses to Datasets2Tools.</p>
			</div>
		</div>

		<div id="contribute-instructions-row" class="row">
			<div class="col-12">
				<ol id="contribute-instructions-list">
					<li><button id="download-form-button" clas="btn btn-primary">Download</button> a template of the form to fill in your analysis as an Excel spreadsheet.</li>
					<li>Fill in the information as explained below.</li>
					<li>Upload the form by dragging it below.</li>
				</ol>
			</div>
		</div>

		<div id="dropzone-row" class="row">
			<div class="col-12">
				<form action="{{ url_for('upload_analysis_api') }}" class="dropzone" id="myDropzone" method="POST" enctype="multipart/form-data">
				</form>
			</div>
		</div>
	</div>

{% endblock %}


{% block footer %}

{% endblock %}