{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}

{% endblock %}

{% block content %}

	<div id="contribute-container" class="container">
		<div class="row">
			<div class="col-12">
				<p id="contribute-title">Contribute</p>
				<hr width="100%" align="left" class="my-2">
			</div>
		</div>


		{% if not object_type %}
		<div class="row">
			<div class="col-4">
				<a href="{{ url_for('contribute_object', object_type='dataset') }}">Upload Dataset</a>
			</div>
			<div class="col-4">
				<a href="{{ url_for('contribute_object', object_type='tool') }}">Upload Tool</a>
			</div>
			<div class="col-4">
				<a href="{{ url_for('contribute_object', object_type='canned_analysis') }}">Upload Canned Analysis</a>
			</div>
		</div>
		{% else %}
		<form>
			{% for question in contribute_questions %}
				<div class="row">
					<div class="col-12"> {{ question.question }} ( {{ 'required' if question.required else 'optional' }} )</div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="text" name="question-{{ question.id }}" {{ 'required' if question.required }}>
					</div>
				</div>
			{% endfor %}
			<button type="submit">Submit</button>
		</form>
		{% endif %}

	</div>

{% endblock %}


{% block footer %}

{% endblock %}