<!-- Object Overview -->
{% macro display_object_overview(object_data) %}
	{% for key, value in object_data.iteritems() %}
		<div class="row overview-row">
			<div class="col-2">
				<div class="overview-label">
					<span class="align-middle">{{key.replace('_', ' ').title()}}</span>
				</div>
			</div>
			<div class="col-10">
				<div class="overview-value">
					{{value}}
				</div>
			</div>
		</div>
	{% endfor %}
{% endmacro %}

<!-- Canned Analysis -->
{% macro display_canned_analyses(canned_analysis_list) %}
	<div class="row canned-analysis-row">
		{% for canned_analysis in canned_analysis_list %}
			{% for i in range(50) %}
				<div class="col-4 canned-analysis-col">
					<div class="canned-analysis-card">
						<div class="row">
							<div class="col-5 canned-analysis-preview-col">
								<a href="#">
									<img class="canned-analysis-preview-icon" src="{{canned_analysis.canned_analysis_preview_url}}">
								</a>
							</div>
							<div class="col-7 canned-analysis-info-col">
								<div class="row">
									<div class="col-12 canned-analysis-title-col">
										<a href="#" class="canned-analysis-title">
											{{canned_analysis.canned_analysis_title}}
										</a>
										<div class="canned-analysis-tool">
										{% if canned_analysis.tools|length == 1%}
											<a href="#">{{canned_analysis.tools[0].tool_name}}</a>
										{% else %}
											<a href="#" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" title="Tools"  data-template='<div class="popover canned-analysis-info-popover" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' data-content="
												{% for tool in canned_analysis.tools %}
													<div class='row canned-analysis-info-popover-row'>
														<div class='col-12'>
															<a class='canned-analysis-info-popover-link' href='#'>
																<img class='canned-analysis-info-popover-icon'src='{{tool.tool_icon_url}}'>
																<span class='canned-analysis-info-popover-name'>{{tool.tool_name}}</span>
															</a>
														</div>
													</div>
												{% endfor %}
											">
											{{canned_analysis.tools|length}} tools</a>
										{% endif %}
										</div>
									</div>
								</div>
								<i class="fa fa-info-circle canned-analysis-info-icon" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" title="Datasets" data-template='<div class="popover canned-analysis-info-popover" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-title"></h3><div class="popover-content container-fluid"></div></div>' data-content="
										{% for dataset in canned_analysis.datasets %}
											<div class='row canned-analysis-info-popover-row'>
												<div class='col-12'>
													<a class='canned-analysis-info-popover-link' href='#'>
														<span class='canned-analysis-info-popover-name'>{{dataset.dataset_accession}}</span>
													</a>
												</div>
											</div>
										{% endfor %}
										<div class='popover-title'>
											Metadata
										</div>
										{% for key, value in canned_analysis.metadata.iteritems() %}
											<div class='row canned-analysis-info-popover-row'>
												<div class='col-6 canned-analysis-info-popover-metadata-tag'>
													{{key}}
												</div>
												<div class='col-6 canned-analysis-info-popover-metadata-value'>
													{{value}}
												</div>
											</div>
										{% endfor %}
								"></i>
							</div> <!-- .canned-analysis-info-col -->
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endmacro %}

<!-- Tools -->
{% macro display_tools(tool_list, dataset_accession) %}
	<div class="row tool-row">
		{% for i in range(50) %}
			{% for tool in tool_list %}
				<div class="col-3 tool-col">
					<div class="tool-card">
						<div class="row">
							<div class="col-6 tool-icon-col">
								<a href="#"><img class="tool-icon" src="{{tool.tool_icon_url}}"></a>
							</div>
							<div class="col-6 tool-info-col">
								<a class="tool-name" href="#">{{tool.tool_name}}</a>
								<a class="tool-developer" href="#">maayanlab</a>
								<form action="{{url_for('index')}}">
									<input type="hidden" name="dataset_accession" value="{{dataset_accession}}">
									<input type="hidden" name="tool_name" value="{{tool.tool_name}}">
									<button class="btn analyze-button">Analyze</button>
								</form>
								<i class="fa fa-info-circle tool-info-icon" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" data-template='<div class="popover tool-info-popover" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>' data-content="{{tool.tool_description}}"></i>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endmacro %}

<!-- Tools -->
{% macro display_fairness(fairness_dataframe) %}
	<table id="fairness-table">
		<thead>
			<tr>
				{% for title in fairness_dataframe.columns %}
					<th>{{title}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for index, rowData in fairness_dataframe.iterrows() %}
				<tr>
					{% for value in rowData.values %}
						<th>{{value}}</th>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
