{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}">

{% endblock %}

{% block content %}

	<div id="search-container" class="container">
		<form id="object-search-form" action="{{ url_for('search') }}">
			<div id="search-label">Search</div>
			<div id="search-row" class="row">
				<div class="col-12">
					<div class="form-inline">
						<input class="form-control" type="text" value="{{ request.args.get('q', default='') }}" name="q">
						<button class="btn" type="button">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div> <!-- #search-row -->
			<div id="search-tab-row" class="row">
				<div class="col-12 search-tab-col">
					<input id="canned_analyses" type="radio" name="object_type" value="canned_analysis"{{' checked' if object_type == 'canned_analysis' }}><label class="search-tab" for="canned_analyses">Analyses</label>
					<input id="datasets" type="radio" name="object_type" value="dataset"{{' checked' if object_type == 'dataset' }}><label class="search-tab" for="datasets">Datasets</label>
					<input id="tools" type="radio" name="object_type" value="tool"{{' checked' if object_type == 'tool' }}><label class="search-tab" for="tools">Tools</label>
				</div>
			</div> <!-- #search-tab-row -->
			<div id="search-results-wrapper-row" class="row">
				<div class="col-12">
					{% if search_data.search_results|length > 0 %}

						<!-- Filters -->
						<div id="search-filters-row" class="row">
							<div id="search-results-number" class="col-6 text-left">
								{{ search_data.search_options.count }} search result{{ 's' if search_data.search_options.count > 1 else '' }}
							</div>
							<div class="col-6 text-right">
								<a class="filter-button">Filters&nbsp&nbsp</a>
							</div>
						</div> <!-- #search-filters-row -->

						<div id="search-options-wrapper">
							<hr width="95%">
							<div id="search-options-row" class="row">
								{{ macros.display_filters(search_filters = search_data.search_filters, sort_by = search_data.search_options.sort_by) }}
							</div> <!-- #search-options-row -->
						</div>

						<!-- Results -->
						<hr width="95%">
						<div id="search-results-row" class="row">
							{% for object_data in search_data.search_results %}
								{{ macros.display_object_card(object_data = object_data, object_type = object_type) }}
							{% endfor %}
						</div> <!-- #search-results-row -->

						<!-- Navigation -->
						<div id="search-navigation-row" class="row">
							{{ macros.display_navigation(search_options = search_data.search_options, object_type = object_type) }}
						</div> <!-- #search-navigation-row -->
					{% else %}
						<div id="no-search-results"> No results found.</div>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
	

{% endblock %}


{% block footer %}
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chosen.proto.min.js') }}"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="{{ url_for('static', filename='js/fair.js') }}"></script>
	<script type="text/javascript">
		// Filters
		$('.filter-button').click(function(evt){
			$(evt.target).parents('.col-12').find('#search-options-wrapper').toggle();
		});	
		$('.search-option-dropdown').each(function(i, elem){
			$(elem).chosen({width: '90%', allow_single_deselect: true});
		});
		$('.search-sort-dropdown').each(function(i, elem){
			$(elem).chosen({width: '90%', "disable_search": true});
		});
		// Search form
		$('#object-search-form').submit(function() {
		    $(':input', this).filter(function() {
		        return this.value.length == 0;
		    }).prop('disabled', true);
		});
		$('#object-search-form').change(function(evt){
			if ( $(evt.target).parent().is('.search-tab-col, .form-inline') ) {
			    $(':input', this).filter(function() {
			        return !['q', 'object_type'].includes(this.name);
			    }).prop('disabled', true);
			} else if ( $(evt.target).parent().is('.page-size-col') ) {
			    $(':input', this).filter(function() {
			        return ['offset'].includes(this.name);
			    }).prop('disabled', true);
			}
			$(evt.target).parents('#object-search-form').submit();
		});
		// Activate filters
		{% if 'sort_by' in request.args.keys() %}
			$('.filter-button').click();
		{% endif %}
	</script>
{% endblock %}


