{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}">

{% endblock %}

{% block content %}

	<div id="search-container" class="container">
		<form id="object-search-form" action="{{ url_for('search') }}">
			<div id="search-label">Search</div>
			<div id="search-row" class="row">
				<div class="col-12">
					<div class="form-inline">
						<input class="form-control" type="text" value="{{ request.args.get('q', default='') }}" name="q">
						<button class="btn" type="button">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div> <!-- #search-row -->
			<div id="search-tab-row" class="row">
				<div class="col-12 search-tab-col">
					<input id="canned_analyses" type="radio" name="object_type" value="canned_analysis"{{' checked' if object_type == 'canned_analysis' }}><label class="search-tab" for="canned_analyses">Analyses</label>
					<input id="datasets" type="radio" name="object_type" value="dataset"{{' checked' if object_type == 'dataset' }}><label class="search-tab" for="datasets">Datasets</label>
					<input id="tools" type="radio" name="object_type" value="tool"{{' checked' if object_type == 'tool' }}><label class="search-tab" for="tools">Tools</label>
				</div>
			</div> <!-- #search-tab-row -->
			<div id="search-results-wrapper-row" class="row">
				<div class="col-12">
					{% if search_data.search_results|length > 0 %}
						<div id="search-filters-row" class="row">
							<div id="search-results-number" class="col-6 text-left">
								250 search results
							</div>
							<div class="col-6 text-right">
								<a class="filter-button">Filters&nbsp&nbsp</a>
							</div>
						</div> <!-- #search-filters-row -->
						<div id="search-options-wrapper">
							<hr width="95%">
							<div id="search-options-row" class="row">
								{{ macros.display_filter_options(search_data.search_filters, object_type) }}
							</div>
						</div> <!-- #search-options-wrapper -->
						<hr width="95%">
						<div id="search-results-row" class="row">
							{% for object_data in search_data.search_results %}
								{{ macros.display_object_card(object_data, object_type) }}
							{% endfor %}
							<br>
							<br>
							<br>
						</div> <!-- #search-results-row -->
						<div id="search-number-card-row" class="row">
							<div class="col-6 text-left">
								{% for offset_option in [1,2,3] %}
									<input type="radio" name="offset" id="{{object_type}}-offset-{{offset_option}}" value="{{offset_option}}"{{ ' checked' if offset_option == offset }}>
									<label for="{{object_type}}-offset-{{offset_option}}" class="search-filter-number-card">{{offset_option}}</label>
								{% endfor %}
							</div>
							<div class="col-6 text-right">
								{% for page_size_option in [10,20,30] %}
									<input type="radio" name="page_size" id="{{object_type}}-page-size-{{page_size_option}}" value="{{page_size_option}}"{{ ' checked' if page_size_option == page_size }}>
									<label for="{{object_type}}-page-size-{{page_size_option}}" class="search-filter-number-card">{{page_size_option}}</label>
								{% endfor %}
								<span class="search-filter-number-label"> per page </span>
							</div>
						</div> <!-- #search-offsets-row -->
					{% else %}
						<div id="no-search-results"> No results found.</div>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
	

{% endblock %}


{% block footer %}
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chosen.proto.min.js') }}"></script>
	<script type="text/javascript">
		$('.filter-button').click(function(evt){
			$(evt.target).parents('.col-12').find('#search-options-wrapper').toggle();
		});	
		$('.search-option-dropdown').each(function(i, elem){
			$(elem).chosen({width: '90%', allow_single_deselect: true});
		});
		$('.search-sort-dropdown').each(function(i, elem){
			$(elem).chosen({width: '90%', "disable_search": true});
		});
		$('#object-search-form').submit(function() {
		    $(':input', this).filter(function() {
		        return this.value.length == 0;
		    }).prop('disabled', true);
		});
		$('#object-search-form').change(function(evt){
			if ( $(evt.target).parent().hasClass('search-tab-col') ) {
			    $(':input', this).filter(function() {
			        return !['q', 'object_type'].includes(this.name);
			    }).prop('disabled', true);
			}
			$(evt.target).parents('#object-search-form').submit();
		});
	</script>
	{% if 'sort_by' in request.args.keys() %}<script type="text/javascript">$('.filter-button').click();</script>{% endif %}

{% endblock %}