{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chosen.css') }}">

{% endblock %}

{% block content %}

	{{ macros.display_search_results2(search_data, object_type, page_type='search') }}

{% endblock %}


{% block footer %}
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chosen.proto.min.js') }}"></script>
	<script type="text/javascript">
		$('.filter-button').click(function(evt){
			$(evt.target).parents('.col-12').find('#search-options-wrapper').toggle();
		});	
		$('.search-option-dropdown').each(function(i, elem){
			$(elem).chosen({width: '90%', allow_single_deselect: true});
		});
		$('.search-sort-dropdown').each(function(i, elem){
			$(elem).chosen({width: '90%', "disable_search": true});
		});
		$('#object-search-form').submit(function() {
		    $(':input', this).filter(function() {
		        return this.value.length == 0;
		    }).prop('disabled', true);
		});
		$('#object-search-form').change(function(evt){
			if ( $(evt.target).parent().is('.search-tab-col, .form-inline') ) {
			    $(':input', this).filter(function() {
			        return !['q', 'object_type'].includes(this.name);
			    }).prop('disabled', true);
			} else if ( $(evt.target).parent().is('.page-size-col') ) {
			    $(':input', this).filter(function() {
			        return ['offset'].includes(this.name);
			    }).prop('disabled', true);
			}
			console.log($(evt.target));
			$(evt.target).parents('#object-search-form').submit();
		});
	</script>
{% if 'sort_by' in request.args.keys() %}<script type="text/javascript">$('.filter-button').click();</script>{% endif %}
{% endblock %}


