{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

	<div id="tool-container" class="container">

		<div id="tool-overview" class="row">
			<div id="tool-icon-col" class="col-2">
				<img id="tool-icon" src="{{url_for('static', filename='icons/gene.png')}}">
			</div>
			<div id="tool-info-col" class="col-10">
				<div class="row">
					<div class="col-6">
						<div class="row">
							<div id="tool-name" class="col-12">
								{{tool.tool_name}}
							</div>
						</div>						
						<div class="row">
							<div id="tool-type" class="col-12">
								Computational Tool
							</div>
						</div>
						<div class="row">
							<div id="tool-date" class="col-12">
								Uploaded {{tool.date}}
							</div>
						</div>
					</div>
					<div id="tool-actions-col" class="col-3">
						<div class="row">
							<div class="col-12">
								<button class="btn" type="button">Analyze</button>
							</div>
							<div class="col-12">
								<button class="btn" type="button">Evaluate</button>
							</div>
						</div>
					</div>
					<div id="tool-fairness-col" class="col-3">
						<div id="tool-fairness-wrapper">
							<div id="tool-fairness-label">FAIR Metrics</div>
							<img id="tool-fairness-icon" src="{{url_for('static', filename='icons/fairness.png')}}">
						</div>
					</div>
				</div>
			</div>
		</div> <!-- #dataset-overview -->

		<div id="tool-tabs" class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#analyses" role="tab">Analyses ({{ canned_analysis_list|length }})</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#datasets" role="tab">Datasets ({{ dataset_list|length }})</a>
				</li>
			</ul>
		</div> <!-- #dataset-tabs -->

		<div id="tool-content" class="tab-content">

			<div class="tab-pane active" id="overview" role="tabpanel">
			</div> <!-- #overview -->

			<div class="tab-pane" id="analyses" role="tabpanel">
				{{ macros.display_canned_analyses(canned_analysis_list) }}
			</div> <!-- #analyses -->

			<div class="tab-pane" id="datasets" role="tabpanel">
				{{ macros.display_datasets(dataset_list, tool.tool_name) }}
			</div> <!-- #tools -->
		</div> <!-- #dataset-content -->

	</div>

{% endblock %}