<!DOCTYPE html> <html>
	<head>
		<meta charset="UTF-8">
		<title>Datasets2Tools</title>
		<link rel="stylesheet" type="text/css" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selectize.css') }}">
		<link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
	</head>

	<body style="background-color: white">
		<div id="main-container" class="container-fluid">

			<div id="navbar-wrapper">
				<nav id="navbar" class="navbar navbar-toggleable-md navbar-inverse container">
				  <button id="toggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <a id="navbar-logo" class="navbar-brand" href="{{entry_point}}/search""><img id="datasets2tools-icon" src="{{ url_for('static', filename='img/d2t_icon.png') }}"><div id="datasets2tools-logo">Datasets2Tools</div></a>
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <div class="nav navbar-nav ml-auto">
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="{{entry_point}}/search"">HOME</a>
					    <ul class="navbar-nav">
			    	      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle navbar-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          SEARCH
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					          <a class="dropdown-item" href="{{entry_point}}/search"/search">BASIC SEARCH</a>
					          <a class="dropdown-item" href="{{entry_point}}/search"/advanced_search">ADVANCED SEARCH</a>
					        </div>
					      </li>
					    </ul>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="{{entry_point}}/search"/metadata">EXPLORE</a>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="{{entry_point}}/search"/upload">CONTRIBUTE</a>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="https://chrome.google.com/webstore/detail/datasets2tools/fbamphimpljabaailcaidmeegpcpkdel">EXTENSION</a>
					    <a class="nav-item nav-link pull-xs-right navbar-link" href="{{entry_point}}/search"/help">HELP</a>
				    </div>
				  </div>
				</nav>
			</div> <!-- #navbar-wrapper -->

			<div id="analyze-container" class="container">

				<div class="row">

					<div id="label-col" class="col-3 offset-1">

						<div class="row">
							<div class="col-12">
								<div class="analyze-pipeline-step">
									<div class="step-number">1</div>
									<div class="step-description">Select a Dataset</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-12">
								<div class="analyze-pipeline-step">
									<div class="step-number">2</div>
									<div class="step-description">Add Tools</div>
								</div>
							</div>
						</div>
					</div>
					
					<div id="pipeline-col" class="col-8">

						<div class="row" id="select-dataset-row">

							<div class="col-3 pipeline-select-col">
								<select class="custom-select pipeline-object-select" id="select-dataset-to-analyze">
								  <option selected>Select...</option>
								  {% for processed_dataset in processed_datasets %}
									  <option value="{{processed_dataset['id']}}">
										  {{processed_dataset['dataset_accession']}}
									  </option>
								  {% endfor %}
								</select>
							</div>

							<div class="col-2" id="selected-dataset-icon-col">
								<div id="selected-dataset-icon">
									<i class="fa fa-database"></i>
								</div>
							</div>

							<div class="col-7" id="selected-dataset-text-col">
								<div id="selected-dataset-text">
									<div id="selected-dataset-title">
									</div>
									<div class="selected-object-options">
										<span id="selected-dataset-details">Details</span>
										<span id="selected-dataset-signatures">Signatures</span>
									</div>
								</div>
							</div>
						</div>

						{% for i in range(5) %}
						<div class="row added-tool-row {{'hidden' if i > 0 else ''}}">

							<div class="col-3 pipeline-select-col">
								<select class="custom-select select-tool pipeline-object-select">
								  <option selected>Select...</option>
								  {% for script in scripts %}
									  <option value="{{script['id']}}">
										  {{script['script_name']}}
									  </option>
								  {% endfor %}
								</select>
							</div>

							<div class="col-2 selected-tool-icon-col">
								<div class="selected-tool-icon">
									<i class="fa fa-cog"></i>
								</div>
							</div>

							<div class="col-7 selected-tool-text-col">
								<div class="selected-tool-text">
									<div class="selected-tool-description hidden">
									</div>
									<div class="selected-object-options">
										<span class="tool-details hidden">Details</span>
										<span class="tool-options hidden">Options</span>
										<span class="remove-tool">Remove</span>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}

						<div class="row" id="add-tool-row">
							<div class="col-2 offset-3" id="add-tool-col">
								<div id="add-tool-icon">
									<i class="fa fa-plus"></i>
								</div>
							</div>
						</div>

						<div class="row" id="submit-analysis-row">
							<div class="col-2 offset-3" id="submit-analysis-col">
								<div id="submit-analysis-icon">
									<i class="fa fa-check"></i>
								</div>
							</div>
						</div>

					</div>
				</div>

<!-- 
				<div id="select-dataset-row" class="row">

					<div class="col-3 offset-1 analyze-pipeline-step-col">
						<div class="analyze-pipeline-step">
							<div class="step-number">1</div>
							<div class="step-description">Select a Dataset</div>
						</div>
					</div>

					<div id="selected-dataset-col" class="col-7">
						<div class="row">

							<div class="col-3" id="select-dataset-col">
								<select id="select-dataset-to-analyze" class="custom-select pipeline-object-select">
								  <option selected>Select...</option>
								  {% for processed_dataset in processed_datasets %}
									  <option value="{{processed_dataset['id']}}">
										  {{processed_dataset['dataset_accession']}}
									  </option>
								  {% endfor %}
								</select>
							</div>

							<div class="col-2" id="selected-dataset-icon-col">
								<div id="selected-dataset-icon">
									<i class="fa fa-database"></i>
								</div>
							</div>

							<div class="col-7" id="selected-dataset-text-col">
								<div id="selected-dataset-text">
									<div id="selected-dataset-title">
									</div>
									<div class="selected-object-icons">
										<i class="fa fa-info-circle"></i>
										<i class="fa fa-cog"></i>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="added-tool-wrapper">

					<div id="first-tool-row" class="row">

						<div class="col-3 offset-1 analyze-pipeline-step-col">
							<div class="analyze-pipeline-step">
								<div class="step-number">2</div>
								<div class="step-description">Add Tools</div>
							</div>
						</div>

						<div class="col-8 text-left added-tool-col">
							<div class="row">

								<div class="col-3 select-tool-col">
									<select class="custom-select select-tool pipeline-object-select">
									  <option selected>Select...</option>
									  {% for script in scripts %}
										  <option value="{{script['id']}}">
											  {{script['script_name']}}
										  </option>
									  {% endfor %}
									</select>
								</div>

								<div class="col-2 selected-tool-icon-col">
									<div class="selected-tool-icon">
										<i class="fa fa-cog"></i>
									</div>
								</div>

								<div class="col-7 selected-tool-text-col">
									<div class="selected-tool-text">
										<div class="selected-dataset-title">
										</div>
										<div class="selected-object-icons">
											<i class="fa fa-info-circle"></i>
											<i class="fa fa-cog"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% for i in range(10) %}

					<div class="row">

						<div class="col-3 offset-1 analyze-pipeline-step-col">
							<div class="analyze-pipeline-step">
								<div class="step-number">2</div>
								<div class="step-description">Add Tools</div>
							</div>
						</div>

						<div class="col-7 text-left added-tool-col">
							<div class="row">

								<div class="col-3 select-tool-col">
									<select class="custom-select select-tool pipeline-object-select">
									  <option selected>Select...</option>
									  {% for script in scripts %}
										  <option value="{{script['id']}}">
											  {{script['script_name']}}
										  </option>
									  {% endfor %}
									</select>
								</div>

								<div class="col-2 selected-tool-icon-col">
									<div class="selected-tool-icon">
										<i class="fa fa-cog"></i>
									</div>
								</div>

								<div class="col-7 selected-tool-text-col">
									<div class="selected-tool-text">
										<div class="selected-dataset-title">
										</div>
										<div class="selected-object-icons">
											<i class="fa fa-info-circle"></i>
											<i class="fa fa-cog"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% endfor %}

					<div id="add-tool-row" class="row">
					</div>

					<div id="submit-pipeline-row" class="row">
					</div>
				</div>
 -->
			</div>

		</div> <!-- #main_container -->

		<div id="footer">
		    <div class="container">
		        <div class="row">
		            <div class="col-sm-6">
		                <h4>Affiliations</h4>
		                <ul>
		                    <li><a href="http://icahn.mssm.edu/research/labs/maayan-laboratory" target="_blank">The Ma'ayan
		                        Lab</a></li>
		                    <li><a href="http://www.lincs-dcic.org/" target="_blank">BD2K-LINCS Data Coordination and
		                        Integration Center (DCIC)</a></li>
		                    <li><a href="http://www.lincsproject.org/">NIH LINCS program</a></li>
		                    <li><a href="http://bd2k.nih.gov/" target="_blank">NIH Big Data to Knowledge (BD2K)</a></li>
		                    <!-- <li><a href="https://commonfund.nih.gov/idg/index" target="_blank">NIH Illuminating the Druggable Genome (IDG) Program</a></li> -->
		                    <li><a href="http://icahn.mssm.edu/" target="_blank">Icahn School of Medicine at Mount Sinai</a>
		                    </li>
		                </ul>
		            </div>
		            <div class="col-sm-6">
		                <h4>License</h4>
		                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">All contents on this site are covered </span> by the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
		            </div>
		        </div>
		    </div>
		</div>

		<div id="js">
			<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
			<script src="{{ url_for('static', filename='js/selectize.js') }}"></script>
			<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
			<script> $(function() {$('[data-toggle="tooltip"]').tooltip()}) </script>
		</div> <!-- #js -->

	</body>
</html>
