@font-face {
    font-family: 'FontAwesome';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

.tooltip-inner {
	max-width: 1000px !important;
}

.dataTables_length, .dataTables_info {
	padding-left: 5px;
}

.d2t-wrapper {
	border: 1px solid grey;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-top-color: rgb(229, 230, 233);
	border-right-color: rgb(223, 224, 228);
	border-bottom-color: rgb(208, 209, 213);
	border-left-color: rgb(223, 224, 228);
	border-radius: .2rem;
	margin-top: 5px;
	display: inline-block;
}

	.d2t-toolbar {
		height: 47px;
        vertical-align: middle;
        display: table;
	}

		.d2t-logo-wrapper {
			height: 100%;
			margin: auto;
			display: table-cell;
			vertical-align: middle;
			border-right: 1px solid rgb(229, 230, 233);
			width: 10px;
		}

			.d2t-logo {
				height: 35px;
				margin-left: 7px;
				margin-right: 7px;
			}

		.d2t-tool-icon-outer-wrapper {
			display: table;
			height: 100%;
			padding-left: 10px;
		}

			.d2t-tool-icon-inner-wrapper {
				display: table-cell;
				vertical-align: middle;
			}

				.d2t-tool-icon {
					height: 30px;
					margin-right: 13px;
					border: 1px solid rgb(208, 209, 213);
					box-shadow: 0 2px 4px rgba(0,0,0,.1);
					border-radius: 3px;
					padding: 1px;
					cursor: pointer;
				}

				.d2t-tool-icon-tooltip {
					text-align: left;
				}

					.d2t-tool-icon-tooltip-name {
						font-weight: 500;
						font-size: 9pt;
						margin-bottom: 1px;
					}

					.d2t-tool-icon-tooltip-count {
						font-style: italic;
						font-weight: 300;
						font-size: 8pt;
						margin-bottom: 3px;
					}

					.d2t-tool-icon-tooltip-description {
						font-weight: 300;
						font-size: 8pt;
					}

	.d2t-tool-info-wrapper {
		display: none;
		vertical-align: middle;
		width: 100%;
		border-bottom: 1px solid rgb(208, 209, 213);
	}

		.d2t-back-arrow {
			height: 35px;
			margin-left: 7px;
			margin-right: 7px;
		}

		.d2t-tool-info {
			height: 47px;
			display: none;
		}

			.d2t-tool-info-text-wrapper {
				display: table-cell;
				vertical-align: middle;
				padding-right: 10px;
			}

				.d2t-tool-info-tool-name {
					font-size: 9pt;
					font-weight: 500;
					margin-bottom: 3px;
				}

				.d2t-tool-info-tool-description {
					font-size: 8pt;
					font-weight: 400;
				}

	.d2t-table-wrapper {
		display: none;
	}

		.dataTables_wrapper {
			display: none;
			padding: 5px 0px;
		}

			.d2t-table th {
				padding: 5px 7px !important;
			}

			.d2t-table td {
				text-align: center;
			}

				.d2t-link-col {

				}

					.d2t-link-icon {
						height: 15px;
					}

				.d2t-description-col {

				}

					.d2t-canned-analysis-description-tooltip {
						padding: 5px 7px;
						font-size: 8pt;
						text-align: justify;
						width: 300px;
					}

				.d2t-metadata-col {
					font-size: 9pt;
				}

					.d2t-metadata-tooltip {
						width: 1000px;
						font-size: 7pt;
					}

						.d2t-metadata-list {
							padding: 0px;
							margin: 0px;
							padding-left: 15px;
							text-align: left;
						}

							.d2t-metadata-term {
								font-weight: 500;
								padding-right: 3px;
							}

							.d2t-metadata-value {
								font-weight: 300;
							}