/*************************/
/** CARD
/*************************/

.card-row {
}

	.card-col {
		padding: 10px 15px;
	}

		.tool-card {
			height: 135px;
		}

		.card-wrapper {
			padding: 0.4rem 1rem;
			background-color: white;
			border: 1px solid #c2c2c2;
		    box-shadow: 0 2px 4px rgba(0,0,0,.1);
	        border-top-color: rgb(229, 230, 233);
		    border-right-color: rgb(223, 224, 228);
		    border-bottom-color: rgb(208, 209, 213);
		    border-left-color: rgb(223, 224, 228);
		    border-radius: .2rem;
		    height: 100%;
		}

			.card-wrapper-row {
				height: 100%;
			}

				.card-icon-col {
					padding: 0.5rem 0.7rem;
					text-align: center;
					margin: auto;
				}

					.card-icon {
						width: 100%;
						margin: auto;
					}

				.card-info-col {
					padding: 0.3rem 0.5rem 0.3rem 0.1rem;
				}

					.card-title {
						font-size: 10pt;
						color: darkblue;
						font-weight: 600;
						display: block;
						margin-bottom: 0px;
						/*word-break: break-all;*/
					}

						.tool-card .card-title {
							padding-right: 50px;
							padding-bottom: 5px;
						}

						.card-title:hover {
							color: darkblue;
						}

					.card-source {
						font-size: 8pt;
						margin-top: 3px;
						margin-bottom: 5px;
						color: darkblue;
						display: block
					}

					.card-badges {
						position: absolute;
						right: 21px;
						top: 15px;
					}

					.tool-metrics {
						padding-top: 3px;
						border-top: 1px solid #eceeef;
					}

						.altmetric-embed {
							padding-left: 12px;
							margin-top: 5px;
						}

						.PlumX-Popup {
							margin-left: 8px;
							margin-top: 3px;
						}

							.PlumX-Popup .ppp-container.ppp-badge>a {
								font-size: 11px !important;
							}

						.pubmed-badge {
							display: table;
							margin-top: 7px;
							margin-left: 14px;
							cursor: pointer;
						}

							.pubmed-icon {
								display: table-cell;
								vertical-align: middle;
								height: 22px;
								margin-right: 5px;
							}

							.pubmed-badge-number {
								display: table-cell;
								vertical-align: middle;
								font-size: 9px;
								border: 1px solid #c2c2c2;
								padding: 0px 4px;
								border-radius: 2px;
							}
								
								.pubmed-badge-number::before {
									content: '';
									position: absolute;
									width: 0; 
									height: 0; 
									top: 18px;
									border-width: 5px;
									border-style: solid;
									border-top-color: transparent;
									border-bottom-color: transparent;
									border-left-color: transparent;
									border-right-color: #c2c2c2;
									left: 71px;
								}

								.pubmed-badge-number::after {
									content: '';
									position: absolute;
									width: 0; 
									height: 0; 
									top: 18px;
									border-width: 5px;
									border-style: solid;
									border-top-color: transparent;
									border-bottom-color: transparent;
									border-left-color: transparent;
									border-right-color: white;
									left: 72px;
								}

							.pubmed-badge-popover {
								background-color: white;
								border: 1px solid black;
								color: black;
								border-radius: 3px;
								font-size: 12px;
								opacity: 1;
							}

								.pubmed-badge-popover .popover-content {
									padding: 7px 10px;
								}

								.pubmed-badge-popover.popover.bs-tether-element-attached-left::before, .popover.popover-right::before {
									border-right-color: black;
								}

					.card-description {
						font-size: 8pt;
						margin-bottom: 3px;
						color: black;
						font-weight: 400;
					}

					.card-description-tooltip {
						font-size: 8pt;
						padding: 7px 15px;
						text-align: justify;
						max-width: 300px;
					}

					.card-info-icon {
						color: #757575;
						position: absolute;
						right: 0.5rem;
						bottom: 0rem;
						font-size: 10pt;
					}

/*************************/
/** FILTERS 
/*************************/

.search-option-label {
	font-size: 9pt;
	padding-left: 3px;
	padding-top: 15px;
}

.search-options-row .chosen-single {
	background-color: #f9f9f9 !important;
	background-image: none !important;
	padding-top: 5px;
	border-radius: 3px !important;
}

	.search-options-row .chosen-single span {
		font-weight: 300;
	}

/*************************/
/** NAVIGATION 
/*************************/

.search-navigation-number {
	font-size: 9pt;
	display: inline-block;
	border: 1px solid #c2c2c2;
	border-radius: 2px;
	background-color: #f9f9f9;
	padding: 2px 8px;
	margin-right: 5px;
	cursor: pointer;
}

	.search-navigation-radio {
		display: none;
	}

		.search-navigation-radio:checked + .search-navigation-number {
			color: #c2c2c2;
			border-color: lightgrey;
			cursor: default;
		}