/*************************/
/** GENERAL LANDING 
/*************************/

#landing-container {
	width: 750px;
}

	#object-overview {
		background-color: white;
		border: 1px solid #c2c2c2;
		margin-top: 35px;
		border-radius: 7px 7px 0px 0px;
		font-family: Helvetica;
	}

		#object-icon-col {
			border-right: 1px solid #c2c2c2;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

			#object-icon {
				width: 100%;
				margin: auto;
				padding: 20px;
			}

		#object-info-col {
			margin: auto;
		}

			#object-info-col .row {
				margin: 20px -5px;
			}

				#object-main-title {
					font-size: 13pt;
					font-weight: 600;
				}

				#object-subtype {
					font-size: 11pt;
					font-style: italic;
				}

				#object-date {
					font-size: 11pt;
				}

		#object-actions-col {
			display:flex;
			align-items:center;
		}

			#object-actions-col button {
				margin: 10px 0px;
				width: 100%;
				background-color: #255FA7;
				color: white;
				font-weight: 600;
				cursor: pointer;
				font-size: 10pt;
			}


		#object-fairness-col {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			border-left: 1px solid #c2c2c2
		}
			
			#object-fairness-col::after {
				content: "FAIR Metrics";
				z-index: 10;
				font-size: 9pt;
				color: black;
				top: 25px;
				left: 25px;
				position: absolute;
				text-align: center;
				font-weight: 600;
			}

			#object-fairness-icon {
				width: 100%;
				padding: 0px;
				padding-top: 25px;
				margin: auto;
			}

	#object-tabs {
		background-color: white;
		border: 1px solid #c2c2c2;
		border-top: none;
		border-radius: 0 0 7px 7px;
	}

		#object-tabs .nav {
			border: none;
			padding-left: 10px;
		}

			#object-tabs .nav-link {
				border: none;
				color: black;
				background-color: transparent;
				padding: 10px 13px;
				font-size: 10pt;
				font-weight: 400;
			}

				#object-tabs .nav-link.active {
					color: #255FA7;
					border: none;
					-webkit-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					-moz-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
				}

/*************************/
/** TOOL LANDING 
/*************************/

#tool-container {
	width: 750px;
}

	#tool-overview {
		background-color: white;
		border: 1px solid #c2c2c2;
		margin-top: 35px;
		border-radius: 7px 7px 0px 0px;
		font-family: Helvetica;
	}

		#tool-icon-col {
			border-right: 1px solid #c2c2c2;
			text-align: center;
		}

			#tool-icon {
				width: 75%;
				margin: 37px auto;
			}

		#tool-info-col {
			padding-left: 20px;
		}

			#tool-name {
				padding-top: 20px;
				font-size: 12pt;
				font-weight: 600;
			}

			#tool-type {
				padding-top: 15px;
				font-size: 11pt;
				font-style: italic;
			}

			#tool-date {
				padding-top: 15px;
				font-size: 11pt;
			}

			#tool-actions-col {
				padding: 10px 35px;
				padding-right: 27px;
				padding-left: 35px;
			}

				#tool-actions-col button {
					margin-top: 15px;
					width: 100%;
					background-color: #255FA7;
					color: white;
					font-weight: 600;
					cursor: pointer;
					font-size: 10pt;
				}

			#tool-fairness-col {
				text-align: center;
				padding-left: 0px;
				padding-top: 10px;
				padding-bottom: 10px;
			}

				#tool-fairness-wrapper {
					height: 100%;
					padding-left: 15px;
					border-left: 1px solid #c2c2c2;
					padding-top: 5px;
				}

					#tool-fairness-label {
						font-size: 9pt;
						font-weight: 400;
					}

					#tool-fairness-icon {
						padding-top: 3px;
						width: 85%;
					}

	#tool-tabs {
		background-color: white;
		border: 1px solid #c2c2c2;
		border-top: none;
		border-radius: 0 0 7px 7px;
	}

		#tool-tabs .nav {
			border: none;
			padding-left: 10px;
		}

			#tool-tabs .nav-link {
				border: none;
				color: black;
				background-color: transparent;
				padding: 10px 13px;
				font-size: 10pt;
				font-weight: 400;
			}

				#tool-tabs .nav-link.active {
					color: #255FA7;
					border: none;
					-webkit-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					-moz-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
				}

	#tool-content {

	}

/*************************/
/** ANALYSIS LANDING 
/*************************/

#analysis-container {
	width: 750px;
}

	#analysis-overview {
		background-color: white;
		border: 1px solid #c2c2c2;
		margin-top: 35px;
		border-radius: 7px 7px 0px 0px;
		font-family: Helvetica;
	}

		#analysis-preview-col {
			border-right: 1px solid #c2c2c2;
			text-align: center;
		}

			#analysis-preview {
				height: 110px;
				margin: 25px auto;
			}

		#analysis-info-col {
			padding-left: 20px;
		}

			#analysis-title {
				padding-top: 20px;
				font-size: 12pt;
				font-weight: 600;
			}

			#analysis-type {
				padding-top: 15px;
				font-size: 11pt;
				font-style: italic;
			}

			#analysis-date {
				padding-top: 15px;
				font-size: 11pt;
			}

			#analysis-actions-col {
				padding: 10px 27px;
			}

				#analysis-actions-col button {
					margin-top: 25px;
					width: 100%;
					background-color: #255FA7;
					color: white;
					font-weight: 600;
					cursor: pointer;
					font-size: 10pt;
				}

			#analysis-fairness-col {
				text-align: center;
				padding-left: 0px;
				padding-top: 10px;
				padding-bottom: 10px;
				margin-top: 15px;
			}

				#analysis-fairness-wrapper {
					height: 100%;
					padding-left: 15px;
					border-left: 1px solid #c2c2c2;
					padding-top: 5px;
				}

					#analysis-fairness-label {
						font-size: 9pt;
						font-weight: 400;
					}

					#analysis-fairness-icon {
						padding-top: 3px;
						width: 85%;
					}

	#analysis-tabs {
		background-color: white;
		border: 1px solid #c2c2c2;
		border-top: none;
		border-radius: 0 0 7px 7px;
	}

		#analysis-tabs .nav {
			border: none;
			padding-left: 10px;
		}

			#analysis-tabs .nav-link {
				border: none;
				color: black;
				background-color: transparent;
				padding: 10px 13px;
				font-size: 10pt;
				font-weight: 400;
			}

				#analysis-tabs .nav-link.active {
					color: #255FA7;
					border: none;
					-webkit-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					-moz-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
				}

	#analysis-content {

	}

