/*************************/
/** DATASET LANDING 
/*************************/

#dataset-container {
	width: 750px;
}

	#dataset-overview {
		background-color: white;
		border: 1px solid #c2c2c2;
		margin-top: 35px;
		border-radius: 7px 7px 0px 0px;
		font-family: Helvetica;
	}

		#dataset-type-col {
			border-right: 1px solid #c2c2c2;
			text-align: center;
		}

			#dataset-type-icon {
				height: 110px;
				margin: 15px auto;
			}

		#dataset-info-col {
			padding-left: 20px;
		}

			#dataset-accession {
				padding-top: 20px;
			    font-size: 12pt;
			    font-weight: 600;
			}

			#dataset-type {
				padding-top: 15px;
			    font-size: 11pt;
				font-style: italic;
			}

			#dataset-date {
				padding-top: 15px;
			    font-size: 11pt;
			}

			#dataset-actions-col {
				padding: 10px 27px;
			}

				#dataset-actions-col button {
					margin-top: 15px;
					width: 100%;
					background-color: #255FA7;
					color: white;
					font-weight: 600;
					cursor: pointer;
					font-size: 10pt;
				}

			#dataset-fairness-col {
				text-align: center;
				padding-left: 0px;
			}

				#fairness-wrapper {
					height: 100%;
					padding-left: 15px;
					border-left: 1px solid #c2c2c2;
					margin-top: 10px;
					padding-top: 5px;
				}

					#fairness-label {
						font-size: 9pt;
						font-weight: 400;
					}

					#dataset-fairness-icon {
						padding-top: 3px;
						width: 85%;
					}

	#dataset-tabs {
		background-color: white;
		border: 1px solid #c2c2c2;
		border-top: none;
		border-radius: 0 0 7px 7px;
	}

		#dataset-tabs .nav {
			border: none;
			padding-left: 10px;
		}

			#dataset-tabs .nav-link {
				border: none;
				color: black;
				background-color: transparent;
				padding: 10px 13px;
				font-size: 10pt;
				font-weight: 400;
			}

				#dataset-tabs .nav-link.active {
					color: #255FA7;
					border: none;
					-webkit-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					-moz-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
				}

	#dataset-content {

	}