/*************************/
/** GENERAL LANDING 
/*************************/

#landing-container {
	width: 750px;
}

	#object-overview {
		background-color: white;
		border: 1px solid #c2c2c2;
		margin-top: 35px;
		border-radius: 7px 7px 0px 0px;
		font-family: Helvetica;
	}

		#object-icon-col {
			border-right: 1px solid #c2c2c2;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

			#object-icon {
				width: 100%;
				margin: auto;
			}

				#object-icon.tool-icon {
					padding: 0px;
				}

				#object-icon.dataset-icon {
					padding: 20px;
				}

		#object-info-col {
			margin: auto;
		}

			#object-info-col .row {
				margin: 15px -5px;
			}

				#object-main-title {
					font-size: 12pt;
					font-weight: 600;
				}

					#object-main-title.tool {
						font-size: 13pt;
					}

				#object-subtype {
					font-size: 11pt;
					font-style: italic;
				}

				#object-date {
					font-size: 11pt;
				}

		#object-actions-col {
			display:flex;
			align-items:center;
		}

			#object-actions-col button {
				margin: 10px 0px;
				width: 100%;
				background-color: #255FA7;
				color: white;
				font-weight: 600;
				cursor: pointer;
				font-size: 10pt;
			}

		#object-fairness-col {
			border-left: 1px solid #c2c2c2
		}
			
			#fairness-label {
				font-size: 9pt;
				color: black;
				text-align: center;
				font-weight: 600;
				padding-top: 10px;
				padding-bottom: 5px;
			}
			
			#fairness-evaluation-number {
				z-index: 10;
				font-size: 8pt;
				color: #757575;
				text-align: center;
				font-weight: 300;
				margin-top: -3px;
				padding-bottom: 5px;
			}

			.object-fairness-col svg {
			}

				.fairness-tooltip {
					font-size: 9pt;
					text-align: left;
				}

					.fairness-tooltip-section {
						margin-bottom: 2px;
					}

					.fairness-comment-list {
						padding-left: 0px;
						margin: 0px;
						font-style: italic;
					}

	#object-tabs {
		background-color: white;
		border: 1px solid #c2c2c2;
		border-top: none;
		border-radius: 0 0 7px 7px;
	}

		#object-tabs .nav {
			border: none;
			padding-left: 10px;
		}

			#object-tabs .nav-link {
				border: none;
				color: black;
				background-color: transparent;
				padding: 10px 13px;
				font-size: 10pt;
				font-weight: 400;
			}

				#object-tabs .nav-link.active {
					color: #255FA7;
					border: none;
					-webkit-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					-moz-box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
					box-shadow: inset 0px -3px 0px 0px rgba(37,95,167,1);
				}

	#object-content {
		margin-top: 20px;
	}

		#overview {

		}

			.info-card {
				border: 1px solid #c2c2c2;
				border-radius: 7px;
				background-color: #f9f9f9;
				padding: 1px;
				margin-bottom: 20px;
				background-color: white;
			}

				.info-card-title {
					padding: 5px 10px;
					font-size: 10pt;
					font-weight: 600;
					border-bottom: 1px solid #c2c2c2;
					background-color: #f9f9f9;
				}

					.info-card-subtitle {
						padding-left: 2px;
						font-size: 9pt;
						font-weight: 400;
						color: #a1a1a1;
					}

				.info-card-text {
					font-size: 10pt;
					text-align: center;
					padding: 40px 0px;
				}

				.info-card-divider {
					margin: 0px -15px;
					font-size: 10pt;
					font-weight: 600;
					border-top: 1px solid #c2c2c2;
					border-bottom: 1px solid #c2c2c2;
					padding: 5px 10px;
					background-color: #f9f9f9;
				}

				.info-card-table {
					background-color: white;
				}

					.info-card-table tr:nth-child(even) { background-color: #f9f9f9; }
					.info-card-table tr:nth-child(odd) { background-color: white; }

						.info-card-table tr td {
							padding: 10px 10px;
						}

							.info-card-table tr td a {
								word-break: break-all;
							}

							.info-card-table tr td:first-child {
								font-size: 10pt;
								font-weight: 600;
								text-align: right;
								font-style: italic;
								min-width: 130px;
							}

							.info-card-table tr td:nth-child(2) {
								font-size: 9pt;
								font-weight: 300;
								padding-left: 10px;
								width: 100%;
							}

					.keyword {
						background-color: #255FA7;
						color: white;
						padding: 3px 7px;
						border-radius: 3px;
						margin-right: 5px;
						font-size: 8pt;
						font-weight: 500;
						font-style: normal;
					}

						.keyword:hover, .keyword:focus {
							color: white;
							text-decoration: none;
						}

				#general-info {

				}

				#publication-info {

				}

					.info-card-tabs {
						border-bottom: 1px solid #c2c2c2;
					}

						.info-card-tabs .nav {
							border: none;
							background-color: #fcfcfc;
							padding-top: 5px;
							padding-left: 15px;
						}

							.info-card-tabs .nav-link {
								border: none;
								color: black;
								background-color: transparent;
								padding: 7px 13px;
								font-size: 9pt;
								font-weight: 400;
								margin: 0px;
								border-radius: 3px 3px 0px 0px;
							}

								.info-card-tabs .nav-link.active {
									color: #255FA7;
									background-color: white;
									border: 1px solid #c2c2c2;
									border-bottom: 2px solid white;
								}

						.info-card-publication {
							background-color: white;
							padding: 10px 15px;
						}


							.info-card-publication-title {
								font-size: 11pt;
								font-weight: 500;
							}

							.info-card-publication-authors {
								font-size: 9pt;
								font-style: italic;
								padding-top: 9px;
								padding-bottom: 9px;
							}

							.info-card-publication-abstract {
								font-size: 9pt;
							}

								.info-card-publication-abstract-section {
									margin-bottom: 5px;
								}
	
									.info-card-publication-abstract-section-title {
										font-weight: 600;
										font-style: italic;
									}

									.info-card-publication-abstract-section-text {
									}

							.info-card-publication-doi {
								font-size: 9pt;
								font-style: italic;
								font-weight: 600;
							}

								.info-card-publication-doi a {
									font-style: normal;
									font-weight: 400;
								}

				#related-object-info {

				}

					#related-object-row {
						padding: 10px 25px;
					}

						#related-object-row .slick-arrow::before {
						    color: black;
						    font-family: "FontAwesome";
						}

						#related-object-row .slick-prev {
							    left: 15px;
						}

							#related-object-row .slick-prev::before {
								content: "\f104";
							}

						#related-object-row .slick-next {
						    right: 17px;
						}
						
							#related-object-row .slick-next::before {
								content: "\f105";
							}

							#related-object-row .slick-dots {
								margin-left: -25px;
								bottom: -15px;
							}
							
								#related-object-row .slick-dots li button:before {
									/*font-size: 9pt;*/
								}

		#datasets {

		}

		#tools {

		}

		#analyses {

		}

			.associated-object-card {
				margin-top: 15px;
			}

				.associated-object-label {
					font-size: 10pt;
					padding-left: 25px;
					padding-top: 15px;
					font-weight: 300;
				}

				.no-search-results {
					text-align: center;
					font-size: 10pt;
					font-weight: 300;
					padding: 50px 0px;
				}

					.contribute-button {
					    margin-top: 25px;
					    margin-bottom: 10px;
					    background-color: #255FA7;
					    color: white;
					    font-weight: 600;
					    cursor: pointer;
					    font-size: 10pt;
					    border: none;
					    padding: 7px 15px;
					    border-radius: 3px;
					}

		#fairness {

		}

			#fairness-table {
				margin: 15px 15px;
				font-size: 10pt;
			}

				#fairness-table th {
					font-weight: 500;
					padding-bottom: 5px;
					padding-right: 13px;
					vertical-align: bottom;
				}

				#fairness-table tr {
					border-bottom: 2px solid #ddd;
					font-weight: 300;
				}

					#fairness-table tr td:first-child {
						width: 60%;
						padding: 10px 5px;
					}

					.yes-but-comment {
						visibility: hidden;
					}

			#fairness-button {
				background-color: #255FA7;
				border-radius: 5px;
				padding: 0.5rem 0.7rem;
				margin-right: 0px;
				margin-left: 15px;
				color: white;
				cursor: pointer;
				font-size: 10pt;
				margin-bottom: 10px;
			}

/*************************/
/** LANDING SEARCH
/*************************/

	.search-results-wrapper {
		padding: 10px 25px;
	}

		.landing-search-form {
			width: 100%;
		}

			.search-filters-row {
				padding-top: 7px;
				padding-bottom: 15px;
			}

				.search-row {
				}

					.search-row input {
						height: 27px;
						border: 1px solid #aaa;
						font-size: 10pt;
						width: 80% !important;
						border-radius: 3px 0px 0px 3px;
						font-weight: 300;
						padding-left: 5px;
					}

						.search-row input:focus {
							border-color: #aaa;
						}

					.search-row button {
						height: 27px;
						width: 27px;
						border: 1px solid #aaa;
						border-radius: 0px 3px 3px 0px;
						border-left: none;
						font-size: 10pt;
						padding: 0px 2px;
						background-color: white;
						color: grey;
						cursor: pointer;
					}

						.search-row button:focus {
							box-shadow: none;
						}

					.sort-by-select {
						font-size: 9pt;
						color: black;
						background-color: #f9f9f9;
						border: 1px solid #c2c2c2;
						border-radius: 3px;
						margin-bottom: 5px;
						cursor: pointer;
					}

						.sort-by-select option {
							font-size: 9pt;
							color: black;
							background-color: #f9f9f9;
							border: 1px solid #c2c2c2;
							border-radius: 3px;
							margin-bottom: 15px !important;
							cursor: pointer;
						}

					.filter-button {
						font-size: 9pt;
						color: black;
						background-color: #f9f9f9;
						border: 1px solid #c2c2c2;
						border-radius: 3px;
						padding: 5px 10px;
						padding-right: 10px;
						margin-bottom: 5px;
						cursor: pointer;
					}

						.filter-button::after {
							content: "\f0d7";
							font-family: "FontAwesome";
						}

				.search-options-wrapper {
					display: none;
				}

					.search-options-wrapper hr {
						margin-top: 14px;
						margin-bottom: 0px;
					}

					.search-options-row {
					}



			.object-card-row {

			}

			.search-number-card-row {
				padding-top: 7px;
			}

				.search-results-number {
					font-size: 9pt;
				}

				.search-filter-number-label {
					font-size: 9pt;
					margin-right: 5px;
				}

					.search-filter-number-card {
						font-size: 9pt;
						display: inline-block;
						border: 1px solid #c2c2c2;
						border-radius: 2px;
						background-color: #f9f9f9;
						padding: 2px 7px;
						margin-right: 5px;
						cursor: pointer;
					}

					.search-number-card-row input[type="radio"] {
						display: none;
					}

					.search-number-card-row input[type="radio"]:checked + .search-filter-number-card {
						color: #c2c2c2;
						border-color: lightgrey;
						cursor: default;
					}

/*************************/
/** SEARCH
/*************************/

#search-container {
	margin-top: 30px;
	width: 750px;
}

	#search-label {
		font-size: 20pt;
		font-weight: 300;
		margin-bottom: 10px;
	}

	#search-row {

	}

		#search-row input {
			height: 35px;
			border: 1px solid #aaa;
			font-size: 11pt;
			width: 95% !important;
			border-radius: 3px 0px 0px 3px;
			font-weight: 300;
			padding: 5px 15px;
		}

			#search-row input:focus {
				border-color: #aaa;
			}

		#search-row button {
			height: 35px;
			width: 35px;
			border: 1px solid #aaa;
			border-radius: 0px 3px 3px 0px;
			border-left: none;
			font-size: 12pt;
			padding: 0px 2px;
			background-color: white;
			color: grey;
			cursor: pointer;
		}

			#search-row button:focus {
				box-shadow: none;
			}

	#search-tab-row {
		padding-top: 20px;
	}

		.search-tab-col {
			padding-left: 20px;
		}

			.search-tab {
				padding: 10px 20px;
				cursor: pointer;
				font-size: 10pt;
				font-weight: 500;
				margin-bottom: 0px;
				color: #b1b1b1;
				border: 1px solid #f2f2f2;
				border-bottom: none;
			}

			.search-tab:hover {
				background-color: #f9f9f9;
				color: #a1a1a1;
			}

			.search-tab-col input[type="radio"] {
				display: none;
				text-align: center;
			}

				.search-tab-col input[type="radio"]:checked + .search-tab {
					background-color: white;
					color: #255FA7;
					border: 1px solid #c2c2c2;
					border-top: 3px solid #255FA7;
					border-bottom: none;
					position: relative;
				}

					.search-tab-col input[type="radio"]:checked + .search-tab::after {
						content:" ";
						position:absolute;
						left: 0px;
						width:100%;
						height:50%;
						background-color: white;
						display: block;
					}


	#search-results-wrapper-row {
		border: 1px solid #c2c2c2;
		border-radius: 1px;
		background-color: white;
	}

		#no-search-results {
			padding: 100px 15px;
			text-align: center;
			font-size: 12pt;
			font-weight: 300;
		}

		#search-filters-row {
			margin-top: 10px;
		}

			#search-filters-row .col-6 {
				padding: 5px 30px;
			}

				#search-results-number {
					font-size: 11pt;
					font-style: italic;
					font-weight: 300;
					margin: auto;
					margin-bottom: -3px;
				}

		#search-results-row {
			padding: 0px 20px;
		}

		#search-options-wrapper {
			display: none;
		}

			#search-options-wrapper hr {
				margin-bottom: -5px;
			}

			#search-options-row {
				padding-left: 25px;
			}

				#search-option-label {
					font-size: 9pt;
					padding-left: 3px;
					margin-top: 7px;
				}

				#search-options-row .chosen-single {
					background-color: #f9f9f9 !important;
					background-image: none !important;
					border-radius: 3px !important;
				}

					#search-options-row .chosen-single span {
						font-weight: 300;
					}

/*************************/
/** S
/*************************/

		#search-navigation-row {
			padding-top: 10px;
			padding-bottom: 5px;
			padding-left: 25px;
			padding-right: 25px;
		}




/*************************/
/** CONTRIBUTE
/*************************/

#contribute-container {
	margin-top: 30px;
}

	#contribute-title {
		font-size: 25pt;
		font-weight: 300;
		margin-bottom: 0px;
	}

	#contribute-text {
		font-size: 11pt;
		font-weight: 300;
		margin-bottom: 0px;
	}

	#contribute-instructions-row {
		margin-top: 15px;
	}

		#contribute-instructions-list {
			font-size: 11pt;
			font-weight: 300;
		}

			#contribute-instructions-list li {
				margin-bottom: 20px;
				padding-left: 5px;
			}

				#download-form-button {
					background-color: #255FA7;
					border-radius: 3px;
					border: 1px solid #255FA7;
					color: white;
					font-weight: 300;
					padding: 5px 10px;
					margin-right: 5px;
					font-size: 12pt;
					cursor: pointer;
				}

	#dropzone-row {
	}
